{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div>
        <h1>Join Today</h1>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-outline-primary form-control" value="Register">
            </div>
        </form>

    </div>
    <div>
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="#">Login Here</a>
        </small>
    </div>

{% endblock %}